footer {
    display: flex;
    position: relative;
    bottom: 0;
    background: white;
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
}
p.foot {
    margin: auto;
    width: 50%;
    text-align: center;
}
